<% flash.get('error').forEach(function (message) { %>

    <div class="alert alert-danger" role="alert">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

<% }) %>

<% flash.get('success').forEach(function (message) { %>

    <div class="alert alert-success" role="alert">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

<% }) %>